@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan', sans-serif;
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 8%, 52%)
}

* {
  transition: 0.3s ease
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}